<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xmlns:c="http://www.springframework.org/schema/c" xmlns:p="http://www.springframework.org/schema/p" xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-3.2.xsd">

  <!-- 1.0 automatically scan classpath for apps -->
  <context:component-scan base-package="com.ontology2" />

  <!-- 1.1 make system properties available -->

  <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="locations">
       <list>
         <value>/com/ontology2/default.properties</value>
         <value>file:${user.home}/.telepathReports/local.properties</value>
       </list>
    </property>
    <property name="ignoreResourceNotFound" value="true" />
  </bean>

  <bean class="java.lang.String" name="webBase">
    <constructor-arg value="${com.ontology2.telepathReports.webBase}" />
  </bean>
  <bean class="java.lang.String" name="sparqlUri">
    <constructor-arg value="${com.ontology2.telepathReports.sparqlURI}" />
  </bean>
  <bean class="java.lang.String" name="sparqlUsername">
    <constructor-arg value="${com.ontology2.telepathReports.sparqlUsername}" />
  </bean>
  <bean class="java.lang.String" name="sparqlPassword">
    <constructor-arg value="${com.ontology2.telepathReports.sparqlPassword}" />
  </bean>
  <bean class="java.lang.String" name="rawMonthlies">
    <constructor-arg value="${com.ontology2.telepathReports.rawMonthlies}" />
  </bean>
  <bean class="java.lang.String" name="topicHitsS">
    <constructor-arg value="${com.ontology2.telepathReports.topicHits}" />
  </bean>
</beans>
